h1{
    background-color: var(--primary-blue);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;

}
.aboutus{
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.mainimg{
    margin-top: 20px;
    height: 250px;
    width: 100%;
    border: 1px black solid;
    background-image: url(https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/480816083_1109425121196530_8648678342173097666_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGLHS1wpojyyA_ZMcnPsvdqnjklHBZ5iaWeOSUcFnmJpeuzYDxP97gQAPUsH8m8NNhedrE5uI40mNKioAzNhHgF&_nc_ohc=pi6eQLzosP0Q7kNvgF2_GzC&_nc_oc=AdiOyRKGnRamRlSKPz8X5lRZ9BskQKEg35u5pxVx7U2HZGsptA1RV1ptEBfBz93GTes&_nc_zt=23&_nc_ht=scontent.fceb6-1.fna&_nc_gid=A4COK7TLcM9RKdZVSbutzM8&oh=00_AYCdpzvr7wIepNkzCAHYaP7yTsiNv5IJ0n9fkyDJBHQxBg&oe=67BC894D);
}
.boxes, .textimg{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: 190px;
    flex-wrap: wrap;
}
.wtext1{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px black solid;
    border-radius: 5px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}
.wtext2{
    margin-top: 100px;
    height: 370px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
}
h2{
    text-align: center;
}
.leaders{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.leaderpic{
    height: 300px;
    width: 600px;
    width: 500px;
    border-radius: 10px;
}
.smallimg{
    height: 120px;
}