h1{
    background-color: var(--primary-blue);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;

}
.aboutus{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}
#upimg img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 360px;
    width: 70%;
    margin-top: 2px;
}
.boxes, .textimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    flex-wrap: wrap;
}
.textimg{
    gap: 14rem;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 220px;
    flex-wrap: wrap;
    gap: 0;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    border-radius: 15px;
    overflow: hidden;
}
.text1 {
    height: auto;
    width: 220px;
    border-right: 1px solid #ccc;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.wtext{
    margin-top: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.smallimg{
    object-fit: cover;
    height: 250px;
    width: auto;
}
h2{
    text-align: center;
}
.leaders{
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.leaderpic{
    height: 300px;
    width: 600px;
    width: 500px;
    border-radius: 10px;
}