h1{
    background-color: var(--primary-blue);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
}
.aboutus{
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.mainimg{
   display: flex;
   justify-content: center;
}
.mainimg img{
    margin-top: 5px;
    object-fit: cover;
    height: 400px;
    width: fit-content;
    border-radius: 10px;
}
.boxes, .textimg{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: 190px;
    flex-wrap: wrap;
}
.wtext1{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px black solid;
    border-radius: 5px;
}
.wtext2{
    margin-top: 100px;
    height: 370px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
}
h2{
    text-align: center;
}
.leaders{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.leaderpic{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}
.smallimg{
    height: 120px;
}