.hero{

    background-image: url("https://scontent.fceb2-2.fna.fbcdn.net/v/t39.30808-6/470205265_997865675693263_4016524895597448717_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=NNVH9uBOiEwQ7kNvgEXFa8p&_nc_oc=AdifHzE_QNYqCjBs1JrDrnuK5zwcRRYrDtnCMqZOWaclp-LDcTzrMkCpjVrIJvurS1w&_nc_zt=23&_nc_ht=scontent.fceb2-2.fna&_nc_gid=ALB6wk1HMJBxwpAb2VaWnsR&oh=00_AYArIVtWfD8nklDWMqSiJR8FOHg1_7GRVjKsryycQy9D1Q&oe=67CF0CBD");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}
.herodesc{
    border-radius: 5px;
    height: 450px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.664);
    margin-left: 50px;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
    margin-top: 100px;
    margin-bottom: 100px;
}
.herodesc p{
    margin: 30px 0px 40px 0px;
    font-size: 16px;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}
.learnmore{
    background-color: #729ED9;
    border-radius: 10px;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}
