*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body, html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root {
    --primary-yellow: #f5c71a;
    --secondary-yellow:#fbec5d;
    --primary-blue: #0080ff;
    --white: #ffffff;
  }
