*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body, html{
    font-family: "Lato", serif;
    height: 100%;
}
:root {
    --primary-yellow: #f5c71a;
    --secondary-yellow:#fbec5d;
    --primary-blue: #0080ff;
    --white: #ffffff;
  }
