header{
    background-color: rgba(247, 211, 52, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 5rem;
}
nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:royalblue;
}
nav .logo{
    text-decoration: none;
    color: royalblue;
    font-weight: 800;
    font-size: 1.5rem;

}
